<p>
template-form works!
</p>
<form novalidate
  (ngSubmit)="save(signupForm)"
  #signupForm="ngForm">
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input matInput placeholder="First Name"
    type="text"
    required
    minlength="3"
    [(ngModel)]=customer.firstName
    #firstNameVar='ngModel'
    name='firstName'>
  </mat-form-field>
  <mat-error *ngIf="firstNameVar.errors?.required">Name is required and must be greater thar 3 characters</mat-error>
  <button mat-raised-button>Send</button>
  <p>{{customer | json}}</p>
</form>


